langchain
langchain-community
langchain-groq
langchain-text-splitters
langchain-voyageai
faiss-cpu
pypdf
python-dotenv
streamlit
chromadb
langchain-community
sentence-transformers
langchain-huggingface
langchain_chroma
tavily-python
streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
pdf2image
sqlite3